<mat-toolbar color="accent">
  <span>Wind Waker Check Tracker</span>
</mat-toolbar>

<div>
  <h1>Upload a File</h1>
  <input type="file" (change)="onFileSelected($event)" accept=".txt">
</div>

<mat-accordion *ngIf="groupedLines">
  <mat-expansion-panel *ngFor="let section of sections">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ section === 'cannotProgress' ? 'Locations that cannot have progress items' : 'Locations that may or may not have progress items' }}
      </mat-panel-title>
    </mat-expansion-panel-header>

    <ng-container *ngIf="groupedLines[section]">
      <mat-expansion-panel *ngFor="let location of getObjectKeys(groupedLines[section])">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ location }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div *ngFor="let item of groupedLines[section][location]; let i = index">
          <mat-checkbox 
            [checked]="item.completed"
            (change)="toggleCompletion(section, location, i)">
            {{ item.name }}
          </mat-checkbox>
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>


<footer>
  <!-- Footer content -->
  <p>Made by MindOfBrandon</p>
  <p>Contact: info&#64;example.com</p>
</footer>

<router-outlet />
